.search-container {
    display: flex;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 2rem auto;
}
.search-container input {
    flex-grow: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px 0 0 8px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
.search-btn {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: var(--button-yellow);
    color: #333;
    font-weight: bold;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.history-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.history-tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.tab-item {
    padding: 0.75rem 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
}
.tab-item.is-active {
    background-color: white;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.order-list {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    color: #333;
    flex-grow: 1;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
}

.order-card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
}
.order-card-header, .order-card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.order-card-header { margin-bottom: 1rem; }
.order-price-status { text-align: right; }
.canteen-name { font-weight: bold; font-size: 1.2rem; }
.order-date { color: #6c757d; font-size: 0.9rem; }
.order-price { font-weight: bold; font-size: 1.1rem; }
.status-badge { font-size: 0.8rem; font-weight: bold; padding: 0.2rem 0.5rem; border-radius: 4px; color: white; }
.status-badge.completed { background-color: #28a745; } /* Green */

.item-list { list-style: none; padding: 0; }
.item-list li { display: flex; justify-content: space-between; width: 150px; color: #6c757d; }

.reorder-btn {
    padding: 0.5rem 1.5rem;
    background-color: var(--button-yellow);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}