.settings {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(148, 24, 29, 1) 0%,
      rgba(85, 5, 8, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  width: 100%;
  min-width: 1440px;
  min-height: 2125px;
  position: relative;
}

.settings .rectangle {
  position: absolute;
  top: 330px;
  left: 37px;
  width: 410px;
  height: 1274px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
}

.settings .img {
  position: absolute;
  top: 629px;
  left: 32px;
  width: 420px;
  height: 85px;
}

.settings .text-wrapper {
  top: 441px;
  left: 110px;
  text-shadow: 0px 4px 4px #00000040;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  letter-spacing: 0;
  line-height: normal;
}

.settings .div {
  position: absolute;
  top: 584px;
  left: 110px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-2 {
  top: 660px;
  left: 103px;
  font-size: 20px;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  white-space: nowrap;
}

.settings .lsicon-badge {
  position: absolute;
  top: 509px;
  left: 59px;
  width: 33px;
  height: 33px;
  aspect-ratio: 1;
}

.settings .text-wrapper-3 {
  position: absolute;
  top: 510px;
  left: 110px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .rectangle-2 {
  position: absolute;
  top: 145px;
  left: 1213px;
  width: 196px;
  height: 68px;
}

.settings .rectangle-3 {
  top: 143px;
  left: 471px;
  width: 728px;
  height: 65px;
  border: 2px solid;
  border-color: #000000;
  opacity: 0.28;
  position: absolute;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
}

.settings .search {
  position: absolute;
  top: 167px;
  left: 1277px;
  width: 67px;
  height: 15px;
}

.settings .group {
  position: absolute;
  top: 721px;
  left: 1211px;
  width: 196px;
  height: 68px;
}

.settings .material-symbols {
  position: absolute;
  top: 161px;
  left: 491px;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
}

.settings .text-wrapper-4 {
  position: absolute;
  top: 142px;
  left: 44px;
  width: 319px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #fbd436;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 39.4px;
  white-space: nowrap;
}

.settings .text-wrapper-5 {
  position: absolute;
  top: 182px;
  left: 44px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 26.3px;
  white-space: nowrap;
}

.settings .group-2 {
  position: absolute;
  top: 235px;
  left: 37px;
  width: 412px;
  height: 74px;
  box-shadow: 0px 4px 4px #00000040;
}

.settings .rectangle-4 {
  top: 0;
  left: 0;
  width: 410px;
  height: 74px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
}

.settings .text-wrapper-6 {
  position: absolute;
  top: 25px;
  left: 73px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .material-symbols-2 {
  position: absolute;
  top: 255px;
  left: 400px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.settings .material-symbols-3 {
  position: absolute;
  top: 579px;
  left: 58px;
  width: 34px;
  height: 35px;
  aspect-ratio: 1;
}

.settings .streamline-plump {
  position: absolute;
  top: 258px;
  left: 60px;
  width: 28px;
  height: 28px;
  aspect-ratio: 1;
}

.settings .material-symbols-4 {
  position: absolute;
  width: 2.36%;
  top: 436px;
  left: 4.03%;
  height: 34px;
  aspect-ratio: 1;
}

.settings .mingcute {
  position: absolute;
  top: 32px;
  left: 1255px;
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
}

.settings .group-3 {
  position: relative;
  width: 74.48%;
  height: 90.29%;
  top: 8.33%;
  left: 12.76%;
}

.settings .vector {
  position: absolute;
  width: 4.68%;
  height: 3.09%;
  top: 23.07%;
  left: -28280.34%;
}

.settings .vector-2 {
  position: absolute;
  width: 100%;
  height: 87.68%;
  top: 0;
  left: 0;
}

.settings .stash-burger-classic {
  position: absolute;
  top: 28px;
  left: 1345px;
  width: 55px;
  height: 55px;
  aspect-ratio: 1;
}

.settings .text-wrapper-7 {
  position: absolute;
  top: 369px;
  left: 110px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .material-symbols-5 {
  position: absolute;
  top: 364px;
  left: 58px;
  width: 34px;
  height: 34px;
  aspect-ratio: 1;
}

.settings .rectangle-5 {
  position: absolute;
  top: 330px;
  left: 469px;
  width: 934px;
  height: 186px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
}

.settings .rectangle-6 {
  position: absolute;
  top: 531px;
  left: 469px;
  width: 934px;
  height: 164px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
}

.settings .text-wrapper-8 {
  top: 616px;
  position: absolute;
  left: 697px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #550508;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: normal;
}

.settings .text-wrapper-9 {
  top: 642px;
  position: absolute;
  left: 697px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #550508;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: normal;
}

.settings .text-wrapper-10 {
  position: absolute;
  top: 365px;
  left: 509px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-11 {
  position: absolute;
  top: 365px;
  left: 990px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-12 {
  position: absolute;
  top: 413px;
  left: 509px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-13 {
  position: absolute;
  top: 441px;
  left: 510px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-14 {
  position: absolute;
  top: 469px;
  left: 510px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-15 {
  position: absolute;
  top: 568px;
  left: 509px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-16 {
  position: absolute;
  top: 413px;
  left: 990px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-17 {
  position: absolute;
  top: 441px;
  left: 991px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-18 {
  position: absolute;
  top: 474px;
  left: 990px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ff151e;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.settings .text-wrapper-19 {
  position: absolute;
  top: 616px;
  left: 510px;
  width: 165px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.settings .text-wrapper-20 {
  top: 645px;
  left: 510px;
  width: 165px;
  font-size: 15px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #550508;
  letter-spacing: 0;
  line-height: normal;
}

.settings .text-wrapper-21 {
  position: absolute;
  top: 441px;
  left: 666px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #550508;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.56px;
  line-height: normal;
}

.settings .text-wrapper-22 {
  position: absolute;
  top: 469px;
  left: 667px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #550508;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: normal;
}

.settings .text-wrapper-23 {
  position: absolute;
  top: 413px;
  left: 665px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #550508;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.56px;
  line-height: normal;
}

.settings .iconamoon-profile {
  position: absolute;
  width: 2.36%;
  top: 655px;
  left: 3.68%;
  height: 34px;
  aspect-ratio: 1;
}

.settings .mdi-pencil-outline {
  position: absolute;
  top: 414px;
  left: 1132px;
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
}

.settings .vector-wrapper {
  position: absolute;
  top: 442px;
  left: 1132px;
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
}

.settings .vector-3 {
  position: absolute;
  width: 75.01%;
  height: 75.00%;
  top: 12.50%;
  left: 12.50%;
}

.settings .text-wrapper-24 {
  top: 245px;
  left: 859px;
  font-size: 48px;
  text-align: center;
  line-height: 52.5px;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  white-space: nowrap;
}

/* =======================================================
   ADD THIS TO THE BOTTOM OF style.css
   ======================================================= */

/* --- 1. MODAL OVERLAY (The dark background) --- */
.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px); /* Adds a modern blur effect */
}

/* --- 2. MODAL BOX (The white container) --- */
.modal-box {
  position: absolute; /* Absolute relative to the overlay */
  /* Center perfectly */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Use the exact width/height from your Figma design */
  width: 640px;
  height: 558px;
  background: transparent; /* The .rectangle inside provides the white bg */
}

/* --- 3. CLOSE BUTTON --- */
.close-x {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10001;
}

/* =======================================================
   SCOPED STYLES FOR THE POPUP CONTENT
   (We use #payment-modal before every class to avoid conflicts)
   ======================================================= */

/* Reset the main container to fit inside the modal */
#payment-modal .box {
  position: relative;
  width: 100%;
  height: 100%;
}

#payment-modal .box .group {
  position: relative; /* Changed from fixed */
  top: 0;            /* Reset from 338px */
  left: 0;           /* Reset from 613px */
  width: 100%;
  height: 100%;
}

/* --- BACKGROUND --- */
#payment-modal .box .rectangle {
  position: absolute;
  top: 0; left: 0;
  width: 640px; height: 558px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 4px 11.3px 8px #0000008c;
}

/* --- TITLE: Add Payment Method --- */
#payment-modal .box .text-wrapper {
  position: absolute;
  top: 23px; left: 22px;
  font-family: "Inter-Bold", Helvetica, sans-serif;
  font-weight: 700; color: #550508; font-size: 20px;
}

/* --- GCASH SECTION --- */
/* Gcash Background Image */
#payment-modal .box .img {
  position: absolute;
  top: 75px; left: 15px;
  width: 609px; height: 75px;
}
/* Gcash Icon (small image) */
#payment-modal .box .rectangle-3 {
  position: absolute;
  top: 72px; left: 22px;
  width: 71px; height: 81px;
  object-fit: cover;
  z-index: 2;
}
/* Gcash Text */
#payment-modal .box .div {
  position: absolute;
  top: 100px; left: 109px; /* Adjusted top to center vertically */
  font-family: "Inter-Bold", Helvetica, sans-serif;
  font-weight: 700; color: #550508; font-size: 20px;
  z-index: 2;
}
/* Set as Default (Row 1) */
#payment-modal .box .text-wrapper-2 {
  position: absolute;
  top: 85px; right: 80px; left: auto; /* Moved to right side */
  font-family: "Inter-Bold", Helvetica, sans-serif;
  font-weight: 700; color: #550508; font-size: 14px;
  cursor: pointer; z-index: 2;
}
/* Trash Icon 1 */
#payment-modal .box .solid-trash-can {
  position: absolute;
  width: 20px; height: 20px;
  top: 100px; right: 40px; left: auto;
  z-index: 2; cursor: pointer;
}

/* --- VISA SECTION --- */
/* Visa Background Rectangle */
#payment-modal .box .rectangle-2 {
  position: absolute;
  top: 164px; left: 15px;
  width: 609px; height: 75px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
/* Visa Text */
#payment-modal .box .text-wrapper-4 {
  position: absolute;
  top: 188px; left: 109px;
  font-family: "Inter-Bold", Helvetica, sans-serif;
  font-weight: 700; color: #550508; font-size: 20px;
  z-index: 2;
}
/* Set as Default (Row 2) */
#payment-modal .box .text-wrapper-3 {
  position: absolute;
  top: 174px; right: 120px; left: auto;
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-weight: 400; color: #550508; font-size: 14px;
  z-index: 2;
}
/* Icons Row 2 */
#payment-modal .box .mdi-pencil-outline {
  position: absolute;
  width: 20px; height: 20px;
  top: 190px; right: 80px; left: auto;
  z-index: 2; cursor: pointer;
}
#payment-modal .box .fa-solid-trash-can {
  position: absolute;
  width: 20px; height: 20px;
  top: 190px; right: 40px; left: auto;
  z-index: 2; cursor: pointer;
}

/* --- INPUTS --- */
/* Card Number Label */
#payment-modal .box .text-wrapper-5 {
  position: absolute;
  top: 338px; left: 40px; /* Adjusted to be inside the box */
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-size: 15px;
  z-index: 2;
  pointer-events: none;
}
/* Card Number Input */
#payment-modal .box .rectangle-5 {
  position: absolute;
  top: 317px; left: 15px;
  width: 609px; height: 65px;
}

/* Expiry Label */
#payment-modal .box .text-wrapper-6 {
  position: absolute;
  top: 442px; left: 40px; /* Adjusted to be inside the box */
  width: 210px; opacity: 0.76; font-size: 15px;
  z-index: 2;
  pointer-events: none;
}
/* Expiry Input */
#payment-modal .box .rectangle-6 {
  position: absolute;
  top: 420px; left: 15px;
  width: 300px; height: 65px;
}

/* CVV Label */
#payment-modal .box .text-wrapper-7 {
  position: absolute;
  top: 442px; left: 360px; /* Adjusted to be inside the box */
  opacity: 0.76; font-size: 15px;
  z-index: 2;
  pointer-events: none;
}
/* CVV Input */
#payment-modal .box .rectangle-7 {
  position: absolute;
  top: 420px; left: 340px;
  width: 280px; height: 65px;
}

/* --- ADD BUTTON --- */
#payment-modal .box .rectangle-8 {
  position: absolute;
  top: 500px; left: 220px;
  width: 200px; height: 45px;
  cursor: pointer;
}
#payment-modal .box .text-wrapper-8 {
  position: absolute;
  top: 512px; left: 300px;
  font-weight: 700; color: white;
  pointer-events: none; /* Make clicks pass through to the button bg */
  z-index: 5;
}

