.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-overlay.active {
    display: flex;
}

.detail-card-popup {
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.close-modal-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #FBCD36;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    color: #550508;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.popup-content {
    padding: 25px;
    color: #333;
}

.popup-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.popup-title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 800;
    color: #550508;
}

.popup-price {
    font-weight: bold;
    color: #888;
    text-decoration: underline;
}

.popup-category {
    color: #666;
    font-style: italic;
    margin-bottom: 15px;
}

.popup-desc {
    color: #777;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.section-title {
    font-weight: 700;
    color: #550508;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.addon-row {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: #550508;
    cursor: pointer;
}

.note-area {
    width: 100%;
    background: #ddd;
    border: none;
    border-radius: 8px;
    padding: 10px;
    height: 60px;
    resize: none;
    font-family: 'Inter', sans-serif;
}

.popup-footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
}

.counter-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-popup-btn {
    background: #FBCD36;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #550508;
}

.qty-display {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
    color: #5d0c1d;
}

.total-display {
    font-weight: bold;
}

.add-popup-btn {
    width: 100%;
    margin-top: 20px;
    background: #FBCD36;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #550508;
    font-size: 1.1rem;
    cursor: pointer;
}